<%= modal do |m| %>
  <% m.title do %>
    <div class="text-lg font-semibold">
      <%= poop_modal_header_title %>
    </div>
  <% end %>

  <%= form_with(model: poop, class: "contents") do |form| %>
    <% if poop.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
        <h2><%= pluralize(poop.errors.count, "error") %> prohibited this poop from being saved:</h2>

        <ul>
          <% poop.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form.hidden_field :user_id, value: current_user.id %>

    <div class="my-5">
      <%= form.label :time %>
      <%= form.datetime_field :time, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", value: Time.now.in_time_zone(current_user.time_zone).strftime("%Y-%m-%dT%k:%M") %>
    </div>

    <div class="my-5">
      <%= form.label :stars, "Rating - Little bird (1) up to Lincoln log (5)" %>
      <%= form.number_field :stars, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", max: 5, min: 1 %>
    </div>

    <div class="my-5">
      <%= form.label :description, "Diary entry" %>
      <%= form.text_area :description, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", rows: 4 %>
    </div>

    <div class="inline">
      <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
    </div>
  <% end %>
<% end %>
