<%
submit_text = @poop.new_record? ? "Create" : "Update"
%>

<%= modal do |m| %>
  <% m.title do %>
    <div class="text-lg font-semibold">
      <%= poop_modal_header_title %>
    </div>
  <% end %>

  <%= form_with(model: poop, class: "contents") do |form| %>
    <% if poop.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
        <h2><%= pluralize(poop.errors.count, "error") %> prohibited this poop from being saved:</h2>

        <ul>
          <% poop.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form.hidden_field :user_id, value: current_user.id %>

    <div class="my-5">
      <%= form.label :time %>
      <%= form.datetime_field :time, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full dark:text-black", value: Time.now.in_time_zone(current_user.time_zone).strftime("%Y-%m-%dT%k:%M") %>
    </div>

    <div class="my-5" data-controller="star-rating" data-star-rating-is-edit-value="<%= !poop.new_record? %>">
      <%= form.label :stars, "Rate the Glory", class: "block" %>
      <% Poop::MAX_RATING.times do |n| %>
        <%= inline_svg_tag("poop.svg",
          class: "w-8 h-8 filter-white inline-block",
          data: {
            star_rating_target: "star",
            star_rating_star_index_param: n,
            action: "pointerenter->star-rating#enter
              pointerleave->star-rating#leave
              click->star-rating#click"
          }) %>
        <% end %>
        <%= form.hidden_field :stars, data: {star_rating_target: "input"}%>
    </div>

    <div class="my-5">
      <%= form.label :description, "Journal entry" %>
      <%= form.text_area :description, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", rows: 2 %>
    </div>

    <div class="inline">
      <%= button_tag class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer", type: :submit do  %>
        <%= submit_text %> <%= image_tag("poop.svg", class: "h-6 inline-block") %>
      <% end %>
    </div>
  <% end %>
<% end %>
