<% if false %>
  <div id="<%= dom_id poop %>">
    <p class="my-5">
      <strong class="block font-medium mb-1">Time:</strong>
      <%= poop.time %>
    </p>

    <% if action_name != "show" %>
      <%= link_to "Show this poop", poop, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <%= link_to "Edit this poop", edit_poop_path(poop), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium", data: {turbo_stream: true} %>
      <hr class="mt-6">
    <% end %>
  </div>
<% end %>

<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700" id="<%= dom_id poop %>">
  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"><%= display_poop_time(poop) %></th>
  <td class="px-6 py-4">
    <div class="h-4">
      <%= display_poop_rating(poop.stars) %>
    </div>
  </td>
  <td class="px-6 py-4">
    <%= link_to "Edit", edit_poop_path(poop), class: "font-medium text-blue-600 dark:text-blue-500 hover:underline", data: { turbo_frame: "modal" } %>
  </td>
</tr>
