<div class="w-full flex flex-col space-y-4">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%#= render @league %>

    <%#= link_to "Edit this league", edit_league_path(@league), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%# <div class="inline-block ml-2"> %>
      <%#= button_to "Destroy this league", league_path(@league), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    <%# </div> %>
    <%#= link_to "Back to leagues", leagues_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>

  <div class="flex justify-between items-center">
    <div class="inline-flex items-center space-x-2">
      <h1 class="font-bold text-4xl">League: <span><%= @league.name %></span></h1>
    </div>

    <%= link_to "Back to poops", poops_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>

  <div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">Name</th>
          <th scope="col" class="px-6 py-3">Monday</th>
          <th scope="col" class="px-6 py-3">Tuesday</th>
          <th scope="col" class="px-6 py-3">Wednesday</th>
          <th scope="col" class="px-6 py-3">Thursday</th>
          <th scope="col" class="px-6 py-3">Friday</th>
          <th scope="col" class="px-6 py-3">Saturday</th>
          <th scope="col" class="px-6 py-3">Sunday</th>
        </tr>
      </thead>
      <tbody>
        <% @league.users.find_each do |user| %>
          <% week_poops = user.poops_per_day_for_week(Time.zone.now) %>
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700" id="<%= dom_id user %>">
            <th class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"><%= user.name %></th>
            <td class="px-6 py-4"><%= week_poops["Monday"] %></td>
            <td class="px-6 py-4"><%= week_poops["Tuesday"] %></td>
            <td class="px-6 py-4"><%= week_poops["Wednesday"] %></td>
            <td class="px-6 py-4"><%= week_poops["Thursday"] %></td>
            <td class="px-6 py-4"><%= week_poops["Friday"] %></td>
            <td class="px-6 py-4"><%= week_poops["Saturday"] %></td>
            <td class="px-6 py-4"><%= week_poops["Sunday"] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
